USE [master]
GO
/****** Object:  Database [Tridion_Broker]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE DATABASE [Tridion_Broker] ON  PRIMARY 
( NAME = N'Tridion_Broker', FILENAME = N'F:\SQLServerDataFiles\Data\Tridion_Broker\Tridion_Broker.mdf' , SIZE = 1448128KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Tridion_Broker_log', FILENAME = N'F:\SQLServerDataFiles\Data\Tridion_Broker\Tridion_Broker_1.LDF' , SIZE = 69760KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tridion_Broker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tridion_Broker]
GO
/****** Object:  User [TridionBrokerUser]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE USER [TridionBrokerUser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[TridionBrokerUser]
GO
/****** Object:  User [Tridion2013BrokerUser]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE USER [Tridion2013BrokerUser] FOR LOGIN [Tridion2013BrokerUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Tridion_Cloud_Broker_2013]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE USER [Tridion_Cloud_Broker_2013] FOR LOGIN [Tridion_Cloud_Broker_2013] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [testmon]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE USER [testmon] FOR LOGIN [testmon] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [soa_user]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE USER [soa_user] FOR LOGIN [soa_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TridionBrokerUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [TridionBrokerUser]
GO
ALTER ROLE [db_owner] ADD MEMBER [Tridion2013BrokerUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Tridion_Cloud_Broker_2013]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Tridion_Cloud_Broker_2013]
GO
ALTER ROLE [db_datareader] ADD MEMBER [testmon]
GO
/****** Object:  Schema [TridionBrokerUser]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE SCHEMA [TridionBrokerUser]
GO
/****** Object:  Table [dbo].[BINARY]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINARY](
	[ITEM_REFERENCE_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[TYPE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_BINARY] PRIMARY KEY CLUSTERED 
(
	[ITEM_REFERENCE_ID] ASC,
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BINARY_CONTENT]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINARY_CONTENT](
	[PUBLICATION_ID] [int] NOT NULL,
	[BINARY_ID] [int] NOT NULL,
	[VARIANT_ID] [nvarchar](64) NOT NULL,
	[CONTENT] [image] NOT NULL,
 CONSTRAINT [PK_BINARY_CONTENT] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[BINARY_ID] ASC,
	[VARIANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BINARYVARIANTS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINARYVARIANTS](
	[PUBLICATION_ID] [int] NOT NULL,
	[BINARY_ID] [int] NOT NULL,
	[VARIANT_ID] [nvarchar](64) NOT NULL,
	[TYPE] [nvarchar](255) NOT NULL,
	[PATH] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[IS_COMPONENT] [int] NOT NULL,
	[URL] [nvarchar](255) NULL,
 CONSTRAINT [PK_BINARIES] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[BINARY_ID] ASC,
	[VARIANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPONENT]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENT](
	[ITEM_REFERENCE_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[SCHEMA_ID] [int] NOT NULL,
	[IS_MULTIMEDIA] [int] NOT NULL,
 CONSTRAINT [PK_COMPONENT] PRIMARY KEY CLUSTERED 
(
	[ITEM_REFERENCE_ID] ASC,
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPONENT_LINK_CLICKS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENT_LINK_CLICKS](
	[TIMEFRAME_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[COMPONENT_ID] [int] NOT NULL,
	[REFERRING_PAGE_ID] [int] NOT NULL,
	[VISIT_VALUE] [int] NULL,
 CONSTRAINT [PK_COMPONENT_LINK_CLICKS] PRIMARY KEY CLUSTERED 
(
	[TIMEFRAME_ID] ASC,
	[USER_ID] ASC,
	[COMPONENT_ID] ASC,
	[REFERRING_PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPONENT_PRES_META_DATA]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENT_PRES_META_DATA](
	[PUBLICATION_ID] [int] NOT NULL,
	[COMPONENT_REF_ID] [int] NOT NULL,
	[COMPONENT_TEMPLATE_ID] [int] NOT NULL,
	[COMPONENT_OUTPUT_FORMAT] [varchar](25) NOT NULL,
	[ENCODING] [nvarchar](50) NULL,
 CONSTRAINT [PK_COMPONENT_PRES_META_DATA] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[COMPONENT_REF_ID] ASC,
	[COMPONENT_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPONENT_PRESENTATIONS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENT_PRESENTATIONS](
	[PUBLICATION_ID] [int] NOT NULL,
	[COMPONENT_ID] [int] NOT NULL,
	[TEMPLATE_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_COMPONENT_PRESENTATIONS] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[COMPONENT_ID] ASC,
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPONENT_VISITS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENT_VISITS](
	[TIMEFRAME_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[COMPONENT_ID] [int] NOT NULL,
	[VISIT_VALUE] [float] NOT NULL,
 CONSTRAINT [PK_COMPONENT_VISITS] PRIMARY KEY CLUSTERED 
(
	[TIMEFRAME_ID] ASC,
	[USER_ID] ASC,
	[COMPONENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOM_META]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOM_META](
	[CUSTOM_META_VALUE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[ITEM_TYPE] [int] NOT NULL,
	[KEY_NAME] [nvarchar](255) NOT NULL,
	[KEY_TYPE] [int] NOT NULL,
	[KEY_DATE_VALUE] [datetime] NULL,
	[KEY_STRING_VALUE] [nvarchar](3400) NULL,
	[KEY_FLOAT_VALUE] [float] NULL,
 CONSTRAINT [PK_CUSTOM_META] PRIMARY KEY CLUSTERED 
(
	[CUSTOM_META_VALUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER_CHARACTERISTICS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_CHARACTERISTICS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](25) NOT NULL,
	[VALUE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CUSTOMER_CHARACTERISTICS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DYNAMIC_LINKS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DYNAMIC_LINKS](
	[SRC_PUB_ID] [int] NOT NULL,
	[SRC_ITEM_ID] [int] NOT NULL,
	[SRC_ITEM_TYPE] [int] NOT NULL,
	[DST_PUB_ID] [int] NOT NULL,
	[DST_ITEM_ID] [int] NOT NULL,
	[DST_ITEM_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_DYNAMIC_LINKS] PRIMARY KEY CLUSTERED 
(
	[SRC_PUB_ID] ASC,
	[SRC_ITEM_ID] ASC,
	[DST_PUB_ID] ASC,
	[DST_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXTENSION_DATA]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTENSION_DATA](
	[PUBLICATION_ID] [int] NOT NULL,
	[OBJECT_KEY] [nvarchar](290) NOT NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EXTENSION_DATA] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[OBJECT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITEM_CATEGORIES_AND_KEYWORDS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_CATEGORIES_AND_KEYWORDS](
	[RELATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_REFERENCE_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[TAXONOMY_ID] [int] NOT NULL,
	[KEYWORD_ID] [int] NOT NULL,
	[CATEGORY] [nvarchar](255) NOT NULL,
	[KEYWORD] [nvarchar](255) NOT NULL,
	[TAXFACET_TYPE] [int] NOT NULL,
 CONSTRAINT [PK_ITEM_CAT_AND_KEYWORDS] PRIMARY KEY CLUSTERED 
(
	[RELATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS](
	[ITEM_REFERENCE_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[MAJOR_VERSION] [int] NULL,
	[MINOR_VERSION] [int] NULL,
	[OWNING_PUBLICATION_ID] [int] NULL,
	[ITEM_TYPE] [int] NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[CREATION_DATE] [datetime] NULL,
	[INITIAL_PUBLICATION_DATE] [datetime] NULL,
	[LAST_PUBLISHED_DATE] [datetime] NULL,
	[TRUSTEE] [nvarchar](255) NOT NULL,
	[MODIFICATION_DATE] [datetime] NULL,
	[ITEM_SELECTOR] [nvarchar](50) NULL,
 CONSTRAINT [PK_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ITEM_REFERENCE_ID] ASC,
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KEYWORD]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYWORD](
	[ITEM_REFERENCE_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[KEYWORD_NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_KEYWORD] PRIMARY KEY CLUSTERED 
(
	[ITEM_REFERENCE_ID] ASC,
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KEYWORD_RELATIONS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYWORD_RELATIONS](
	[NODE] [int] NOT NULL,
	[KEYWORD_TO] [int] NOT NULL,
 CONSTRAINT [PK_KEYWORD_RELATION] PRIMARY KEY CLUSTERED 
(
	[NODE] ASC,
	[KEYWORD_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LINK_INFO]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINK_INFO](
	[PUBLICATION_ID] [int] NOT NULL,
	[PAGE_ID] [int] NOT NULL,
	[COMPONENT_ID] [int] NOT NULL,
	[COMPONENT_TEMPLATE_ID] [int] NOT NULL,
	[COMPONENT_TEMPLATE_PRIORITY] [int] NOT NULL,
	[COMPONENT_POSITION] [int] NOT NULL,
	[URL] [nvarchar](255) NULL,
 CONSTRAINT [PK_LINK_INFO] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[PAGE_ID] ASC,
	[COMPONENT_ID] ASC,
	[COMPONENT_TEMPLATE_ID] ASC,
	[COMPONENT_POSITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGE]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE](
	[ITEM_REFERENCE_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[FILENAME] [nvarchar](255) NULL,
	[URL] [nvarchar](255) NOT NULL,
	[TEMPLATE_ID] [int] NOT NULL,
 CONSTRAINT [PK_PAGE] PRIMARY KEY CLUSTERED 
(
	[ITEM_REFERENCE_ID] ASC,
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGE_CONTENT]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE_CONTENT](
	[PUBLICATION_ID] [int] NOT NULL,
	[PAGE_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[CHARSET] [nvarchar](40) NULL,
 CONSTRAINT [PK_PAGE_CONTENT] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGE_VISITS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE_VISITS](
	[TIMEFRAME_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[PAGE_ID] [int] NOT NULL,
	[VISIT_VALUE] [int] NULL,
 CONSTRAINT [PK_PAGE_VISITS] PRIMARY KEY CLUSTERED 
(
	[TIMEFRAME_ID] ASC,
	[USER_ID] ASC,
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PREVIEW_SESSION_ITEMS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREVIEW_SESSION_ITEMS](
	[PREVIEW_SESSION_ID] [nvarchar](50) NOT NULL,
	[PREVIEW_SESSION_OBJECT_KEY] [nvarchar](290) NOT NULL,
	[INSTANCE_NAME] [nvarchar](100) NOT NULL,
	[FILEPATH] [ntext] NULL,
	[CHANGED_ON_DISK] [int] NOT NULL,
	[STATE] [int] NOT NULL,
 CONSTRAINT [PK_PREVIEW_SESSION_ITEMS] PRIMARY KEY CLUSTERED 
(
	[PREVIEW_SESSION_ID] ASC,
	[PREVIEW_SESSION_OBJECT_KEY] ASC,
	[INSTANCE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PREVIEW_SESSIONS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREVIEW_SESSIONS](
	[PREVIEW_SESSION_ID] [nvarchar](50) NOT NULL,
	[EXPIRATION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_PREVIEW_SESSIONS] PRIMARY KEY CLUSTERED 
(
	[PREVIEW_SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PUBLICATION_MAPPINGS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICATION_MAPPINGS](
	[VIRTUAL_PUBLICATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[REAL_PUBLICATION_ID] [int] NOT NULL,
	[MAPPING_KEY] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PUBLICATION_MAPPINGS] PRIMARY KEY CLUSTERED 
(
	[VIRTUAL_PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UNIQUE_PUB_ID] UNIQUE NONCLUSTERED 
(
	[REAL_PUBLICATION_ID] ASC,
	[MAPPING_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PUBLICATIONS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICATIONS](
	[PUBLICATION_ID] [int] NOT NULL,
	[PUBLICATION_TITLE] [nvarchar](255) NULL,
	[PUBLICATION_KEY] [nvarchar](255) NULL,
	[PUBLICATION_PATH] [nvarchar](255) NULL,
	[PUBLICATION_URL] [nvarchar](255) NULL,
	[MULTIMEDIA_PATH] [nvarchar](255) NULL,
	[MULTIMEDIA_URL] [nvarchar](255) NULL,
 CONSTRAINT [PK_PUBLICATIONS] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REFERENCE_ENTRIES]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFERENCE_ENTRIES](
	[PUBLICATION_ID] [int] NOT NULL,
	[REFERENCED_URI] [nvarchar](220) NOT NULL,
	[REFERENCING_URI] [nvarchar](220) NOT NULL,
 CONSTRAINT [PK_REFERENCES] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[REFERENCED_URI] ASC,
	[REFERENCING_URI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCHEMAS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEMAS](
	[PUBLICATION_ID] [int] NOT NULL,
	[SCHEMA_ID] [int] NOT NULL,
	[CONTENT] [ntext] NOT NULL,
	[TITLE] [nvarchar](255) NULL,
 CONSTRAINT [PK_SCHEMAS] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[SCHEMA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAXFACETS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAXFACETS](
	[NODE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACET_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[TAXONOMY_ID] [int] NOT NULL,
	[FACET_NAME] [nvarchar](255) NOT NULL,
	[FACET_DESCRIPTION] [nvarchar](255) NULL,
	[FACET_KEY] [nvarchar](255) NOT NULL,
	[FACET_PARENT] [nvarchar](50) NULL,
	[FACET_ISABSTRACT] [int] NOT NULL,
	[FACET_ISNAVIGABLE] [int] NOT NULL,
	[FACET_HASCHILDREN] [int] NOT NULL,
	[FACET_DEPTH] [int] NOT NULL,
	[FACET_LEFT] [int] NOT NULL,
	[FACET_RIGHT] [int] NOT NULL,
	[FACET_ITEMTYPE] [int] NOT NULL,
	[ITEM_SELECTOR] [nvarchar](50) NOT NULL,
	[FACET_ISUSEDFORIDENTIFICATION] [int] NOT NULL,
	[TOTAL_RELATEDITEMS] [int] NOT NULL,
 CONSTRAINT [PK_TAXFACETS] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [UIX_TAXFACETS] UNIQUE NONCLUSTERED 
(
	[TAXONOMY_ID] ASC,
	[PUBLICATION_ID] ASC,
	[FACET_LEFT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TDS_DB_INFO]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDS_DB_INFO](
	[DB_VERSION] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[INSTALLATION_TYPE] [nvarchar](255) NULL,
	[LAST_MODIFIED] [nvarchar](255) NULL,
	[MODIFIED_BY] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEMPLATE]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPLATE](
	[ITEM_REFERENCE_ID] [int] NOT NULL,
	[PUBLICATION_ID] [int] NOT NULL,
	[TEMPLATE_PRIORITY] [int] NOT NULL,
	[TEMPLATE_OUTPUT_FORMAT] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_TEMPLATE] PRIMARY KEY CLUSTERED 
(
	[ITEM_REFERENCE_ID] ASC,
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIME_FRAMES]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME_FRAMES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRESENTATION_ID] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[STOP_DATE] [datetime] NULL,
	[PERIOD_TYPE] [int] NOT NULL,
	[PERIOD_MULTIPLIER] [int] NOT NULL,
 CONSTRAINT [PK_TIME_FRAMES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[PRESENTATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRACKING]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKING](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SESSION_ID] [nvarchar](50) NOT NULL,
	[CREATION_DATE] [datetime] NULL,
	[REQUEST_DATA] [ntext] NOT NULL,
	[BATCH_ID] [int] NOT NULL,
 CONSTRAINT [PK_TRACKING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRACKING_BATCHES]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKING_BATCHES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](20) NOT NULL,
	[SERVER_NAME] [nvarchar](50) NULL,
	[LAST_SYNC_DATE] [datetime] NOT NULL,
	[STATE] [int] NULL,
	[SYNC_ATTEMPTS] [int] NULL,
 CONSTRAINT [PK_TRACKING_BATCHES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRACKING_ITEMS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKING_ITEMS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [nvarchar](50) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRACKING_KEYS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKING_KEYS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[VALUE] [int] NOT NULL,
 CONSTRAINT [PK_TRACKING_KEYS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNDO_LOG]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNDO_LOG](
	[TRANSACTION_ID] [nvarchar](50) NOT NULL,
	[OBJECT_KEY] [nvarchar](290) NOT NULL,
	[UNDO_STATE] [int] NOT NULL,
 CONSTRAINT [PK_UNDO_LOG] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC,
	[OBJECT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNDO_TRANSACTIONS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNDO_TRANSACTIONS](
	[TRANSACTION_ID] [nvarchar](50) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_UNDO_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRESENTATION_ID] [int] NOT NULL,
	[LOGIN] [nvarchar](50) NULL,
	[MODIFIED] [datetime] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XSLT_CONTENT]    Script Date: 11/29/2017 11:43:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XSLT_CONTENT](
	[PUBLICATION_ID] [int] NOT NULL,
	[XSLT_ID] [int] NOT NULL,
	[LAST_MODIFIED] [datetime] NOT NULL,
	[CONTENT] [ntext] NOT NULL,
 CONSTRAINT [PK_XSLT_CONTENT] PRIMARY KEY CLUSTERED 
(
	[PUBLICATION_ID] ASC,
	[XSLT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IDX_BINARY_CONTENT]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_BINARY_CONTENT] ON [dbo].[BINARY_CONTENT]
(
	[PUBLICATION_ID] ASC,
	[BINARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_BINARIES_PUB_URL]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_BINARIES_PUB_URL] ON [dbo].[BINARYVARIANTS]
(
	[PUBLICATION_ID] ASC,
	[URL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_BINARIES_URL]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_BINARIES_URL] ON [dbo].[BINARYVARIANTS]
(
	[URL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_COMP_LINK_CLICKS_TIMEF]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_COMP_LINK_CLICKS_TIMEF] ON [dbo].[COMPONENT_LINK_CLICKS]
(
	[TIMEFRAME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_COMP_VISITS_TIMEF]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_COMP_VISITS_TIMEF] ON [dbo].[COMPONENT_VISITS]
(
	[TIMEFRAME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_CUSTOM_META_COMP_KEY]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CUSTOM_META_COMP_KEY] ON [dbo].[CUSTOM_META]
(
	[PUBLICATION_ID] ASC,
	[ITEM_ID] ASC,
	[ITEM_TYPE] ASC,
	[KEY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CUSTOM_META_ID]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CUSTOM_META_ID] ON [dbo].[CUSTOM_META]
(
	[CUSTOM_META_VALUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CUSTOM_META_ITEMS]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CUSTOM_META_ITEMS] ON [dbo].[CUSTOM_META]
(
	[PUBLICATION_ID] ASC,
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_CUSTOM_META_KEY_NAME]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CUSTOM_META_KEY_NAME] ON [dbo].[CUSTOM_META]
(
	[KEY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CUSTOM_META_PUBLICATION]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CUSTOM_META_PUBLICATION] ON [dbo].[CUSTOM_META]
(
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DYNL_DST_ITEM]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_DYNL_DST_ITEM] ON [dbo].[DYNAMIC_LINKS]
(
	[DST_PUB_ID] ASC,
	[DST_ITEM_ID] ASC,
	[DST_ITEM_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DYNL_SRC_ITEM]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_DYNL_SRC_ITEM] ON [dbo].[DYNAMIC_LINKS]
(
	[SRC_PUB_ID] ASC,
	[SRC_ITEM_ID] ASC,
	[SRC_ITEM_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CATKEY_PUB_ITEM]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CATKEY_PUB_ITEM] ON [dbo].[ITEM_CATEGORIES_AND_KEYWORDS]
(
	[PUBLICATION_ID] ASC,
	[ITEM_REFERENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CATKEY_PUB_TAX]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CATKEY_PUB_TAX] ON [dbo].[ITEM_CATEGORIES_AND_KEYWORDS]
(
	[PUBLICATION_ID] ASC,
	[TAXONOMY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CATKEYITEM_PRIM]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CATKEYITEM_PRIM] ON [dbo].[ITEM_CATEGORIES_AND_KEYWORDS]
(
	[PUBLICATION_ID] ASC,
	[TAXONOMY_ID] ASC,
	[KEYWORD_ID] ASC,
	[ITEM_REFERENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CATKEYITEM_TAX]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_CATKEYITEM_TAX] ON [dbo].[ITEM_CATEGORIES_AND_KEYWORDS]
(
	[TAXONOMY_ID] ASC,
	[ITEM_REFERENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ITEMS]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_ITEMS] ON [dbo].[ITEMS]
(
	[PUBLICATION_ID] ASC,
	[ITEM_REFERENCE_ID] ASC,
	[ITEM_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_ITEMS_SELECTOR]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_ITEMS_SELECTOR] ON [dbo].[ITEMS]
(
	[PUBLICATION_ID] ASC,
	[ITEM_REFERENCE_ID] ASC,
	[ITEM_SELECTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_KEYRELATED]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_KEYRELATED] ON [dbo].[KEYWORD_RELATIONS]
(
	[NODE] ASC,
	[KEYWORD_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_LINK_COMPONENT]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_LINK_COMPONENT] ON [dbo].[LINK_INFO]
(
	[PUBLICATION_ID] ASC,
	[COMPONENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_LINK_INFO]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_LINK_INFO] ON [dbo].[LINK_INFO]
(
	[PUBLICATION_ID] ASC,
	[PAGE_ID] ASC,
	[COMPONENT_ID] ASC,
	[COMPONENT_POSITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_LINK_PAGE]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_LINK_PAGE] ON [dbo].[LINK_INFO]
(
	[PUBLICATION_ID] ASC,
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_PAGE_PUB_URL]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_PAGE_PUB_URL] ON [dbo].[PAGE]
(
	[PUBLICATION_ID] ASC,
	[URL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_PAGE_URL]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_PAGE_URL] ON [dbo].[PAGE]
(
	[URL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAGE_VISITS_TIMEF]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_PAGE_VISITS_TIMEF] ON [dbo].[PAGE_VISITS]
(
	[TIMEFRAME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_REF_PUB]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_REF_PUB] ON [dbo].[REFERENCE_ENTRIES]
(
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_REF_PUB_REFERENCED]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_REF_PUB_REFERENCED] ON [dbo].[REFERENCE_ENTRIES]
(
	[PUBLICATION_ID] ASC,
	[REFERENCED_URI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_REF_PUB_REFERENCING]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_REF_PUB_REFERENCING] ON [dbo].[REFERENCE_ENTRIES]
(
	[PUBLICATION_ID] ASC,
	[REFERENCING_URI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_REF_REFED]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_REF_REFED] ON [dbo].[REFERENCE_ENTRIES]
(
	[REFERENCED_URI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_REF_REFING]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_REF_REFING] ON [dbo].[REFERENCE_ENTRIES]
(
	[REFERENCING_URI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TAXFACETS]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_TAXFACETS] ON [dbo].[TAXFACETS]
(
	[TAXONOMY_ID] ASC,
	[PUBLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TAXFACETS_ID_PUB_TAX]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IDX_TAXFACETS_ID_PUB_TAX] ON [dbo].[TAXFACETS]
(
	[FACET_ID] ASC,
	[PUBLICATION_ID] ASC,
	[TAXONOMY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_BATCH_ID]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_BATCH_ID] ON [dbo].[TRACKING]
(
	[BATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TRACKING_RETRIEVAL]    Script Date: 11/29/2017 11:43:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TRACKING_RETRIEVAL] ON [dbo].[TRACKING]
(
	[SESSION_ID] ASC,
	[CREATION_DATE] ASC,
	[BATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BINARY_CONTENT] ADD  DEFAULT ('[#def#]') FOR [VARIANT_ID]
GO
ALTER TABLE [dbo].[BINARYVARIANTS] ADD  DEFAULT ('[#def#]') FOR [VARIANT_ID]
GO
ALTER TABLE [dbo].[BINARYVARIANTS] ADD  DEFAULT (' ') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[BINARYVARIANTS] ADD  DEFAULT ((0)) FOR [IS_COMPONENT]
GO
ALTER TABLE [dbo].[COMPONENT] ADD  DEFAULT ((0)) FOR [IS_MULTIMEDIA]
GO
ALTER TABLE [dbo].[PREVIEW_SESSION_ITEMS] ADD  DEFAULT ((0)) FOR [CHANGED_ON_DISK]
GO
ALTER TABLE [dbo].[TAXFACETS] ADD  DEFAULT ('Keyword') FOR [ITEM_SELECTOR]
GO
ALTER TABLE [dbo].[TAXFACETS] ADD  DEFAULT ((0)) FOR [FACET_ISUSEDFORIDENTIFICATION]
GO
ALTER TABLE [dbo].[TAXFACETS] ADD  DEFAULT ((0)) FOR [TOTAL_RELATEDITEMS]
GO
ALTER TABLE [dbo].[TRACKING] ADD  DEFAULT (getutcdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [MODIFIED]
GO
ALTER TABLE [dbo].[BINARYVARIANTS]  WITH CHECK ADD  CONSTRAINT [FK_VARIANTS_BINARY] FOREIGN KEY([BINARY_ID], [PUBLICATION_ID])
REFERENCES [dbo].[BINARY] ([ITEM_REFERENCE_ID], [PUBLICATION_ID])
GO
ALTER TABLE [dbo].[BINARYVARIANTS] CHECK CONSTRAINT [FK_VARIANTS_BINARY]
GO
ALTER TABLE [dbo].[COMPONENT]  WITH CHECK ADD  CONSTRAINT [FK_COMPONENT_ITEMS] FOREIGN KEY([ITEM_REFERENCE_ID], [PUBLICATION_ID])
REFERENCES [dbo].[ITEMS] ([ITEM_REFERENCE_ID], [PUBLICATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPONENT] CHECK CONSTRAINT [FK_COMPONENT_ITEMS]
GO
ALTER TABLE [dbo].[CUSTOM_META]  WITH CHECK ADD  CONSTRAINT [FK_COMPONENT_META_ITEMS] FOREIGN KEY([ITEM_ID], [PUBLICATION_ID])
REFERENCES [dbo].[ITEMS] ([ITEM_REFERENCE_ID], [PUBLICATION_ID])
GO
ALTER TABLE [dbo].[CUSTOM_META] CHECK CONSTRAINT [FK_COMPONENT_META_ITEMS]
GO
ALTER TABLE [dbo].[CUSTOMER_CHARACTERISTICS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_CHAR_USERS] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_CHARACTERISTICS] CHECK CONSTRAINT [FK_CUSTOMER_CHAR_USERS]
GO
ALTER TABLE [dbo].[ITEM_CATEGORIES_AND_KEYWORDS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORYKEYWORD_ITEM] FOREIGN KEY([ITEM_REFERENCE_ID], [PUBLICATION_ID])
REFERENCES [dbo].[ITEMS] ([ITEM_REFERENCE_ID], [PUBLICATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ITEM_CATEGORIES_AND_KEYWORDS] CHECK CONSTRAINT [FK_CATEGORYKEYWORD_ITEM]
GO
ALTER TABLE [dbo].[KEYWORD]  WITH CHECK ADD  CONSTRAINT [FK_KEYWORD_ITEMS] FOREIGN KEY([ITEM_REFERENCE_ID], [PUBLICATION_ID])
REFERENCES [dbo].[ITEMS] ([ITEM_REFERENCE_ID], [PUBLICATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KEYWORD] CHECK CONSTRAINT [FK_KEYWORD_ITEMS]
GO
ALTER TABLE [dbo].[KEYWORD_RELATIONS]  WITH CHECK ADD  CONSTRAINT [FK_KEYWORD_RELATION_FROM] FOREIGN KEY([NODE])
REFERENCES [dbo].[TAXFACETS] ([NODE_ID])
GO
ALTER TABLE [dbo].[KEYWORD_RELATIONS] CHECK CONSTRAINT [FK_KEYWORD_RELATION_FROM]
GO
ALTER TABLE [dbo].[PAGE]  WITH CHECK ADD  CONSTRAINT [FK_PAGE_ITEMS] FOREIGN KEY([ITEM_REFERENCE_ID], [PUBLICATION_ID])
REFERENCES [dbo].[ITEMS] ([ITEM_REFERENCE_ID], [PUBLICATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAGE] CHECK CONSTRAINT [FK_PAGE_ITEMS]
GO
ALTER TABLE [dbo].[PREVIEW_SESSION_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_PREVIEW_SESSION_ITEMS_SESSIONS] FOREIGN KEY([PREVIEW_SESSION_ID])
REFERENCES [dbo].[PREVIEW_SESSIONS] ([PREVIEW_SESSION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PREVIEW_SESSION_ITEMS] CHECK CONSTRAINT [FK_PREVIEW_SESSION_ITEMS_SESSIONS]
GO
ALTER TABLE [dbo].[TEMPLATE]  WITH CHECK ADD  CONSTRAINT [FK_TEMPLATE_ITEMS] FOREIGN KEY([ITEM_REFERENCE_ID], [PUBLICATION_ID])
REFERENCES [dbo].[ITEMS] ([ITEM_REFERENCE_ID], [PUBLICATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TEMPLATE] CHECK CONSTRAINT [FK_TEMPLATE_ITEMS]
GO
ALTER TABLE [dbo].[TRACKING]  WITH CHECK ADD  CONSTRAINT [FK_TRACKING_BATCHES] FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[TRACKING_BATCHES] ([ID])
GO
ALTER TABLE [dbo].[TRACKING] CHECK CONSTRAINT [FK_TRACKING_BATCHES]
GO
ALTER TABLE [dbo].[TRACKING_KEYS]  WITH CHECK ADD  CONSTRAINT [FK_TRACKINGKEYS_USERS] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRACKING_KEYS] CHECK CONSTRAINT [FK_TRACKINGKEYS_USERS]
GO
ALTER TABLE [dbo].[UNDO_LOG]  WITH CHECK ADD  CONSTRAINT [FK_UNDO_LOG_TRANS] FOREIGN KEY([TRANSACTION_ID])
REFERENCES [dbo].[UNDO_TRANSACTIONS] ([TRANSACTION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UNDO_LOG] CHECK CONSTRAINT [FK_UNDO_LOG_TRANS]
GO
/****** Object:  StoredProcedure [dbo].[GET_TIMED_OUT_BATCHES]    Script Date: 11/29/2017 11:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GET_TIMED_OUT_BATCHES]
(
	@iSERVER_NAME				NVARCHAR(25),
	@iSTATE						INT,
	@iTIMEOUT					INT	
)
AS
BEGIN

	SET NOCOUNT ON
	
	DECLARE @lTIMEOUT_DATE DATETIME
	
	SELECT @lTIMEOUT_DATE = DATEADD(SECOND, @iTIMEOUT * -1, GETUTCDATE())

	SELECT id FROM TRACKING_BATCHES b WHERE b.SERVER_NAME = @iSERVER_NAME AND b.STATE = @iSTATE AND b.LAST_SYNC_DATE <= @lTIMEOUT_DATE 	

END
GO
/****** Object:  StoredProcedure [dbo].[SESSION_BATCH_CREATE]    Script Date: 11/29/2017 11:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SESSION_BATCH_CREATE]
(
	@iSERVER_NAME				NVARCHAR(25),
	@iSESSION_OFFSET_SECONDS	INT,
	@iMAX_REQUESTS				INT	
)
AS
BEGIN

	SET NOCOUNT ON
	
	DECLARE @oBATCH_ID	INT
	DECLARE @lFINALIZED_SESSION_DATE DATETIME
	
	SELECT @lFINALIZED_SESSION_DATE = DATEADD(SECOND, @iSESSION_OFFSET_SECONDS * -1, GETUTCDATE())
	
	INSERT INTO TRACKING_BATCHES
	(SERVER_NAME, LAST_SYNC_DATE, STATE, SYNC_ATTEMPTS, TYPE)
	VALUES
	(@iSERVER_NAME, GETUTCDATE(), 1, 1, 'syncBatch')
	
	SELECT @oBATCH_ID = @@IDENTITY
	
	UPDATE TRACKING
	SET BATCH_ID = @oBATCH_ID
	WHERE SESSION_ID IN
	(
		SELECT SESSION_ID
			FROM
			(
					SELECT ID, SESSION_ID, ROW_NUMBER() OVER (ORDER BY SESSION_ID) AS ROWNUM
					FROM TRACKING 
					WHERE SESSION_ID IN
					(
						SELECT SESSION_ID
						FROM TRACKING T
						WHERE BATCH_ID = 0
						GROUP BY T.SESSION_ID
						HAVING MAX(T.CREATION_DATE)  <= @lFINALIZED_SESSION_DATE
					)
			) T
		WHERE T.ROWNUM <= @iMAX_REQUESTS
	)
	
	SELECT @oBATCH_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SET_FAIL_BATCH]    Script Date: 11/29/2017 11:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SET_FAIL_BATCH]
(
	@iID				INT,
	@iMAX_ATTEMPTS		INT
)
AS
BEGIN
	SET NOCOUNT ON
/*	
	State enum
	
    NotDone = 0
    InProgress = 1
    Confirmed = 2
    Failed = 3
    PermanentFailed = 4
*/	

	UPDATE TRACKING_BATCHES 
	SET SYNC_ATTEMPTS = SYNC_ATTEMPTS + 1, 
		[STATE] = 
		CASE
			WHEN SYNC_ATTEMPTS + 1 <= @iMAX_ATTEMPTS THEN 3
			WHEN SYNC_ATTEMPTS + 1 > @iMAX_ATTEMPTS THEN 4
		END,
		LAST_SYNC_DATE = GETUTCDATE()
	WHERE 
		ID = @iID AND
		[STATE] <> 4 AND
		SYNC_ATTEMPTS <= @iMAX_ATTEMPTS
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_BATCH_STATE]    Script Date: 11/29/2017 11:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[UPDATE_BATCH_STATE]
(
	@iID				INT,
	@iSTATE				INT
)
AS
BEGIN
	SET NOCOUNT ON
/*	
	State enum
	
    NotDone = 0
    InProgress = 1
    Confirmed = 2
    Failed = 3
    PermanentFailed = 4
*/	

	UPDATE TRACKING_BATCHES 
	SET  
		[STATE] = @iSTATE,
		LAST_SYNC_DATE = GETUTCDATE()
	WHERE 
		ID = @iID
END
GO
USE [master]
GO
